body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

ul {
    list-style: none;
}

h1 {
    font-size: 4em;
}

.btn {
    width: 90px;
    border: 1px solid springgreen;
    background-color: white;
    font-family: 'Permanent Marker', cursive;

}

p {
    font-family: 'Glegoo', serif;
    font-size: 2em;
}

a {
    font-family: 'Glegoo', serif;
    color: #008cff;
}

.factory {
    font-size: 2em;
    color: orange;
}
